<!DOCTYPE html>

<head>
    {{!-- 
    Script to convert JSON to table data for the UI --}}
    <script type='text/javascript' src='/scripts/printtableJSON.js'></script>
    {{!--
    //Commented for WalmartApp Playground
    --}}
    var shop = '{{shop}}

</head>

<body>
    <button onclick='getProducts()'>Get Products</button>
    <button onclick='addMetaFields()'>Add MisMan Attributes</button>
    <button onclick='registerWebhook()'>Register for Webhook</button>

    <div id='prod'>
    </div>

    <script>


        //Display data on UI
        function displayDataUI(productListingsArr) {
            //Send the product array
            CreateTableFromJSON(productListingsArr)
        }


        //Display Error on UI
        function displayError(error) {
            document.getElementById('prod').innerHTML = JSON.stringify(error)
        }

        //Fetch Product Listing from Shopify
        function getProducts() {
            console.log('Get Product Button clicked')
            //Commented for WalmartApp Playground
            //fetch('https://shopifywalbackend.herokuapp.com/backend/product_listings')
            fetch('https://shopifywalbackend.herokuapp.com/backend/product_listings?shop='+shop)
                .then(response => {
                    if (!response.ok) { throw response }
                    return response.json() //Only if there is no error
                })
                .then(data => {
                    console.log('Received from our backend:')
                    //Break the JSON to read the product_listings object  and send the array
                    console.log('Data Payload' + JSON.stringify(data))
                    console.log('Productlistings' + JSON.stringify(data.product_listings))
                    displayDataUI(data.product_listings)
                })

                .catch(err => {
                    console.log('Error API:')
                    console.log(err)
                    displayError(err)
                })
        }

        function addMetaFields() {
            console.log('Add Mis-Man Button clicked')
            //Commented for WalmartApp Playground
           // const url = 'https://test-wal-mp.myshopify.com/admin/bulk?resource_name=Product&query=&published_status=walmart_dev-1%3Avisible&edit=variants.sku,metafields.walmart.taxcode:string,metafields.walmart.idtype:string,metafields.walmart.gtin:number,metafields.walmart.category:select,metafields.walmart.subcategory:string&metafield_options[metafields.walmart.category][1]=clothing&metafield_options[metafields.walmart.category][2]=Electronics&metafield_options[metafields.walmart.category][3]=Tires'
             const url = 'https://'+shop+'.myshopify.com/admin/bulk?resource_name=Product&query=&published_status=walmart_dev-1%3Avisible&edit=variants.sku,metafields.walmart.taxcode:string,metafields.walmart.idtype:string,metafields.walmart.gtin:number,metafields.walmart.category:select,metafields.walmart.subcategory:string&metafield_options[metafields.walmart.category][1]=clothing&metafield_options[metafields.walmart.category][2]=Electronics&metafield_options[metafields.walmart.category][3]=Tires'
           
            
            window.open(url, '_blank');
        }

        function registerWebhook() {

            //Commented for WalmartApp Playground
           // fetch('https://shopifywalbackend.herokuapp.com/backend/registerwebhook/productupdate')
           fetch('https://shopifywalbackend.herokuapp.com/backend/registerwebhook/productupdate?shop='+shop)
                .then(response => {
                    if (!response.ok) { throw response }
                    return response.json() //Only if there is no error
                })
                .then(data => {
                    console.log('Received from our backend:')
                    //Break the JSON to read the product_listings object  and send the array
                    console.log('Data Payload response to webhook from backend' + JSON.stringify(data))

                     var divContainer = document.getElementById('prod')
                     divContainer.innerHTML = JSON.stringify(data)

                })

                .catch(err => {
                    console.log('Error API:')
                    console.log(err)
                    displayError(err)
                })
        }
    </script>

</body>