<!DOCTYPE html>

<head>
    {{!-- 
    Script to convert JSON to table data for the UI --}}
    <script type='text/javascript' src='/scripts/printtableJSON.js'></script>

</head>

<body>
    <button onclick='getProducts()'>Get Products</button>
    <button onclick='addMetaFields()'>Add MisMan Attributes</button>

    <div id='prod'>
    </div>

    <script>

        var proxies = [
            'https://cors.io/?',
            {
                url: 'https://cors-anywhere.herokuapp.com/',
                headers: {
                    'X-Shopify-Access-Token': 'a12070de2fb759429529f8d14db10be2'
                }
            },
        ]

        //Create Proxy request to neglect CORS policy (temporary solution)
        function proxiedFetch(requestUrl, proxyList) {

            proxyList = proxyList || proxies;

            var requestPromises = proxyList.map(function (proxy) {

                var proxyUrl = proxy.url || proxy,
                    headers = proxy.headers,
                    finalUrl = proxyUrl + requestUrl;

                return fetch(finalUrl, headers ? { headers } : null);
            });

            return Promise.race(requestPromises);

        }

        //Display data on UI
        function displayDataUI(productListingsArr) {
            //Send the product array
            CreateTableFromJSON(productListingsArr)
        }


        //Display Error on UI
        function displayError(error) {
            document.getElementById('prod').innerHTML = JSON.stringify(error)
        }

        //Fetch Product Listing from Shopify
        function getProducts() {
            console.log('Get Product Button clicked')


            proxiedFetch('https://test-wal-mp.myshopify.com/admin/api/2019-04/product_listings.json')
                .then(response => {
                    if (!response.ok) { throw response }
                    return response.json() //Only if there is no error
                })
                .then(data => {
                    console.log('Received from shipify:')
                    //Break the JSON to read the product_listings object  and send the array
                    // console.log(data.product_listings)
                    displayDataUI(data.product_listings)
                })
                .catch(err => {
                    console.log('Error API:')
                    console.log(err)
                    displayError(err)
                })
        }

        function addMetaFields() {
            console.log('Add Mis-Man Button clicked')
            const url = 'https://test-wal-mp.myshopify.com/admin/bulk?resource_name=Product&edit=metafields.walmart.taxcode:string,metafields.walmart.gtin:number,metafields.walmart.checkflag:boolean,metafields.walmart.category:select,metafields.walmart.size:string,metafields.walmart.color:string,variants.sku&metafield_options[metafields.walmart.category][1]=clothing&metafield_options[metafields.walmart.category][2]=Electronics&metafield_options[metafields.walmart.category][3]=Tires'
            window.open(url, '_blank');
        }
    </script>

</body>