<!DOCTYPE html>

<head>

</head>

<body>

    <button onclick='getProducts()'>Get Products</button>
    <script>
        function getProducts() {
            console.log('Button clicked')
        }

    </script>

</body>