<!DOCTYPE html>

<head>

</head>

<body>

    <button onclick='getProducts()'>Get Products</button>
    <div id='prod'>
    </div>
    <script>
        function getProducts() {
            console.log('Button clicked')

            fetch('https://shopifytestwal.herokuapp.com/fetchproductlist')
            .then(function (){

            })
            .then(function() {

            })
          
          
            {{!-- fetch('https://shopifytestwal.herokuapp.com/fetchproductlist', {
                method: 'GET',
                headers: {
                    'X-Shopify-Access-Token':'a12070de2fb759429529f8d14db10be2',
                }
            })
                .then(function (response) {

                    console.log(response)
                    return response.json()
                })
                .then(function (myJson) {
                    console.log(JSON.stringify(myJson))
                    document.getElementById('prod').innerText = JSON.stringify(myJson)
                }); --}}
        }

    </script>

</body>